header{
    text-align: center;
    background-color: lightblue;
    width:100%;
    height:40px;
    border:2px;
    
}
footer{
    text-align: center;
    background-color: lightblue;
    width:100%;
    height:40px;
    border:2px;
    border-color: black;
    border-style: solid;
}

.mid{
    display:flex;

}

#nav{
    border: 2px;
    border-color: black;
    border-style: solid;
    width:20%;
    background-color: rgb(167, 231, 252);
    margin:2px;
}
.lis1{
    list-style-type: none;
    text-align: center;
}

#right{
    border: 2px;
    border-color: black;
    border-style: solid;
    width:80%;
    background-color: rgb(167, 231, 252);
}
h2{
    background-color: rgb(102, 168, 244);
    border: 2px;
    border-color: black;
    border-style: solid;
    margin:3px;
    text-align: center;
}
p{
    border: 2px;
    border-color: black;
    border-style: solid;
    margin:3px;
}
.secc{
    display:flex;
    justify-content: space-around;
    margin:5px;
}
.sec{
    border: 2px;
    border-color: black;
    border-style: solid;
    margin:3px;
    height:100%;
}